a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  background: #fff;
  font: 13px 'Droid Sans', sans-serif;
}
footer.home {
  padding-top: 20px;
  text-align: center;
  display: block;
}
footer.home img {
  display: block;
  margin: 0 auto;
}
.center-ad {
  text-align: center;
  margin: 10px 0 0;
}
.center-ad.bottom {
  margin: 0 0 10px;
}
footer.other {
  clear: both;
  text-align: left;
  display: block;
  border: 1px solid #EFE5A0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: #fefcea;
  background: -moz-linear-gradient(top, #fefcea 0%, #efe5a0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefcea), color-stop(100%, #efe5a0));
  background: -webkit-linear-gradient(top, #fefcea 0%, #efe5a0 100%);
  background: -o-linear-gradient(top, #fefcea 0%, #efe5a0 100%);
  background: -ms-linear-gradient(top, #fefcea 0%, #efe5a0 100%);
  background: linear-gradient(top, #fefcea 0%, #efe5a0 100%);
  height: 53px;
  position: relative;
}
footer.other .dff-link {
  display: block;
  float: left;
  margin-left: 10px;
  position: relative;
  z-index: 100;
}
footer.other .copyright-info {
  display: block;
  position: absolute;
  top: 15px;
  text-align: center;
  width: 100%;
}
footer.other .opensource {
  float: right;
  margin: 12px 10px 0 0;
  position: relative;
  z-index: 100;
}
footer.other .license {
  display: block;
  float: right;
  margin: 12px 10px 0 0;
  position: relative;
  z-index: 100;
}
.block {
  display: block;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}
.wrapper  > .container {
  padding: 10px 0 20px;
}
.signup-button {
  display: block;
  width: 100px;
  margin: 0 auto;
  color: black;
}
.signup-button:hover {
  text-decoration: none;
}
.button {
  background: white;
  border: 1px solid #aaa;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 3px 5px;
}
.button.big {
  padding: 7px 9px 7px 5px;
  font-size: 15px;
  color: #555;
  font-weight: bold;
}
.button:hover {
  background-color: white;
  -moz-box-shadow: 0px 1px 2px -1px #000000;
  -webkit-box-shadow: 0px 1px 2px -1px #000000;
  box-shadow: 0px 1px 2px -1px #000000;
  color: black;
  background: #fcfcfc;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  background: linear-gradient(top, #fcfcfc 0%, #ededed 100%);
}
.button:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.small-wrapper {
  width: 540px;
  margin: 0 auto;
}
.logo-box {
  background: white;
  font: 700 35px 'Cantarell', sans-serif;
  font-style: italic;
  text-align: left;
  text-shadow: 1px 2px 2px #666;
}
.logo-box a {
  text-decoration: none;
}
.logo-box a:hover {
  text-decoration: none;
}
.logo-box #logo {
  position: relative;
  top: 10px;
  left: 10px;
}
.logo-box .price {
  color: #3563ad;
}
.logo-box .time {
  color: #6396ce;
}
.logo-box .dot-com {
  color: #898989;
}
#left-menu {
  width: 200px;
  float: left;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
  border-left: 1px solid #f5f5f5;
  background: #f5f5f5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}
#left-menu  > .title {
  font-weight: bold;
  color: #666;
  font-size: 15px;
  text-align: right;
}
#left-menu  > .title div {
  padding: 10px;
}
#left-menu .title {
  background: url('/images/ribbon.png') no-repeat left top;
  color: white;
  font-weight: bold;
  font-size: 15px;
  height: 38px;
  line-height: 30px;
  padding-left: 16px;
  width: 212px;
  position: relative;
  left: -17px;
}
#left-menu  > .selected-items {
  padding: 0 0 20px;
}
#left-menu  > .selected-items .section {
  line-height: 25px;
}
#left-menu  > .selected-items a {
  background: #feffff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMmViZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #feffff 0%, #d2ebf9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feffff), color-stop(100%, #d2ebf9));
  background: -webkit-linear-gradient(top, #feffff 0%, #d2ebf9 100%);
  background: -o-linear-gradient(top, #feffff 0%, #d2ebf9 100%);
  background: -ms-linear-gradient(top, #feffff 0%, #d2ebf9 100%);
  background: linear-gradient(top, #feffff 0%, #d2ebf9 100%);
  border: 1px solid #d7e4f3;
  color: #444;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 3px 5px;
}
#left-menu  > .selected-items a:hover {
  -moz-box-shadow: 0 1px 3px -1px #000000;
  -webkit-box-shadow: 0 1px 3px -1px #000000;
  box-shadow: 0 1px 3px -1px #000000;
}
#left-menu  > .selected-items a:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#left-menu  > .selected-items a span {
  padding-left: 20px;
  background: url('/images/close.gif') no-repeat left center;
}
#left-menu #categories-list  > .category {
  clear: both;
}
#left-menu #categories-list  > .category  > .categories .category {
  display: block;
  float: left;
  clear: both;
}
#left-menu .facets .facet-list {
  max-height: 300px;
  overflow: auto;
}
#left-menu .facets .facet {
  display: block;
  clear: both;
}
#left-menu .facets .facet .container {
  width: 135px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
#left-menu .facets .facet span {
  float: right;
  clear: none;
}
#left-menu .facets + .facets {
  margin-top: 10px;
}
.debug {
  display: none;
}
.clear {
  clear: both;
}
input[name=keyword] {
  padding: 7px;
  width: 290px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-top: 1px solid #aaa;
}
.results-bar {
  padding: 5px 0;
  line-height: 20px;
}
.results-bar .result-count {
  float: left;
  line-height: 25px;
}
.results-bar .result-count em {
  font-style: normal;
  font-weight: bold;
}
.results-bar .top-control {
  float: right;
}
.results-bar .top-control .label {
  float: left;
  padding-right: 5px;
}
.results-bar .pagination {
  float: right;
  clear: both;
}
.results-bar .pagination a {
  padding: 3px 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-left: 5px;
}
.results-bar .pagination a:hover,
.results-bar .pagination a.active {
  text-decoration: none;
  background: #6F8EB0;
  color: #fff;
}
.more-info-button {
  border: 1px solid #aaa;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 3px 5px;
  background: #f7f7f7;
  background: #fcfcfc;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  background: linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  float: right;
  margin-right: 10px;
  display: block;
  margin-top: 20px;
  font-size: 20px;
  padding: 8px 10px 8px 8px;
  color: #666;
  font-weight: bold;
}
.more-info-button:hover {
  text-decoration: none;
  color: black;
}
.more-info-button span {
  padding: 5px 0px 5px 35px;
  background: url('/images/more-info-icon.png') no-repeat left center;
}
body.product  > .wrapper {
  margin-bottom: 20px;
}
body.product  > .wrapper > .container {
  float: right;
  padding: 10px 0 10px;
  width: 100%;
}
body.product  > .wrapper > .title {
  margin-bottom: 10px;
  color: #444;
}
body.product  > .wrapper > .title em {
  color: black;
}
body.product #product-compare img {
  float: left;
  display: block;
}
body.product .logo-box form {
  float: right;
}
body.product .logo-box .input-container input[type=text] {
  padding: 7px;
  width: 290px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-top: 1px solid #aaa;
}
body.product .logo-box .input-container .button span {
  padding: 4px 0px 4px 32px;
  background: url('/images/magnifier.png') no-repeat left center;
}
body.product .product {
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  clear: both;
  display: block;
  color: #444;
  border: 1px solid transparent;
  background: transparent;
}
body.product .product.main {
  border: 1px solid #aaa;
  background: #f7f7f7;
  font-size: 15px;
  padding: 20px;
}
body.product .product.main img {
  width: auto;
  height: auto;
  margin: 0 20px 0 0;
}
body.product .product:hover {
  background: #f8f8f8;
}
body.product .product img {
  float: left;
  max-width: 80px;
  max-height: 80px;
}
body.product .product table {
  float: left;
  width: 120px;
}
body.product .product table td {
  vertical-align: middle;
  text-align: center;
}
body.product .product table td img {
  float: none !important;
  display: inline !important;
}
body.product .product .details {
  float: left;
  width: 760px;
  color: #444;
}
body.product .product .description {
  margin-top: 15px;
}
body.product .product .name {
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}
body.product .product .mer-logo {
  margin-top: 10px;
}
body.product .product .merchant span {
  font-weight: bold;
  font-size: 15px;
}
body.product .product .mfg {
  margin-top: 10px;
  color: #444;
}
body.product .product .price {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #444;
}
.back {
  margin-bottom: 5px;
  display: block;
  float: left;
}
body.search  > .wrapper > .container {
  float: right;
  padding: 10px 0 10px;
  width: 729px;
}
body.search .logo-box form {
  float: right;
}
body.search .logo-box .input-container input[type=text] {
  padding: 7px;
  width: 290px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-top: 1px solid #aaa;
}
body.search .logo-box .input-container .button span {
  padding: 4px 0px 4px 32px;
  background: url('/images/magnifier.png') no-repeat left center;
}
body.search .ad {
  padding: 10px 0;
}
body.search .product {
  padding: 20px 20px 40px 20px;
  background: #e9e9e9;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  background: linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  position: relative;
  color: #222;
  text-decoration: none;
}
body.search .product.no-hover:hover {
  border: 1px solid #ddd;
}
body.search .product:hover {
  border: 1px solid #aaa;
  text-decoration: none;
}
body.search .product .mer-info {
  float: right;
  position: relative;
  top: 20px;
  text-align: right;
}
body.search .product .mer-info img {
  float: right;
  display: block;
  clear: both;
  margin-right: 0;
}
body.search .product .mer-info .merchant {
  clear: both;
}
body.search .product .merchant {
  color: #555;
  margin-top: 5px;
}
body.search .product img.main {
  min-width: 80px;
  min-height: 100px;
}
body.search .product .description {
  padding: 10px 0 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}
body.search .product .description.full-view {
  height: auto;
}
body.search .product .button {
  position: absolute;
  left: 140px;
  bottom: 10px;
  display: none;
}
body.search .product .button.visible {
  display: block;
}
body.search .product .button span {
  padding-right: 20px;
  background: url('/images/down-icon.png') no-repeat right center;
}
body.search .product .more-info-button {
  position: absolute;
  left: auto;
  top: auto;
  right: 10px;
  bottom: 10px;
  display: block;
  font-size: 12px;
}
body.search .product img {
  float: left;
  margin-right: 20px;
}
body.search .product .short-desc {
  font-size: 14px;
  max-height: 1.1em;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}
body.search .product .price {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #444;
}
body.search .product + .product {
  margin-top: 10px;
}
body.home .logo-box {
  margin-top: 100px;
  text-align: center;
}
body.home .logo-box form {
  display: none;
}
body.home  > .wrapper > .container {
  text-align: center;
}
body.home  > .wrapper > .container .search-box {
  margin: 15px auto;
  padding: 20px 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #e9e9e9;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  background: linear-gradient(top, #fcfcfc 0%, #ededed 100%);
  border: 1px solid #dfdfdf;
}
body.home  > .wrapper > .container .search-box  > blockquote {
  padding-bottom: 10px;
  font-size: 14px;
  color: #444;
}
body.home  > .wrapper > .container .search-box  > blockquote em {
  font-style: normal;
  font-weight: bold;
}
body.home  > .wrapper > .container .search-box .input-container {
  padding-top: 10px;
}
body.home  > .wrapper > .container .search-box .input-container input[type=text] {
  padding: 7px;
  width: 290px;
}
body.home  > .wrapper > .container .search-box .input-container .button span {
  padding: 4px 0px 4px 32px;
  background: url('/images/magnifier.png') no-repeat left center;
}
body.home  > .wrapper > .container .signup {
  width: 240px;
  float: left;
  padding: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  float: right;
  border: 1px solid #B4CCA1;
  background: #DEEBCD;
  background: -moz-linear-gradient(top, #f8ffe8 0%, #b4cca1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8ffe8), color-stop(100%, #b4cca1));
  background: -webkit-linear-gradient(top, #f8ffe8 0%, #b4cca1 100%);
  background: -o-linear-gradient(top, #f8ffe8 0%, #b4cca1 100%);
  background: -ms-linear-gradient(top, #f8ffe8 0%, #b4cca1 100%);
  background: linear-gradient(top, #f8ffe8 0%, #b4cca1 100%);
}
body.home  > .wrapper > .container .signup .button {
  margin-top: 10px;
}
body.home  > .wrapper > .container .signup:first-child {
  float: left;
  border: 1px solid #C2E1ED;
  background: #badff6;
  background: -moz-linear-gradient(top, #feffff 0%, #c2e1ed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #feffff), color-stop(100%, #c2e1ed));
  background: -webkit-linear-gradient(top, #feffff 0%, #c2e1ed 100%);
  background: -o-linear-gradient(top, #feffff 0%, #c2e1ed 100%);
  background: -ms-linear-gradient(top, #feffff 0%, #c2e1ed 100%);
  background: linear-gradient(top, #feffff 0%, #c2e1ed 100%);
}
body.home  > .wrapper > .container .signup:first-child .title {
  color: #3563ad;
  font-weight: bold;
  font-size: 20px;
}
body.home  > .wrapper > .container .signup .title {
  color: #138526;
  font-weight: bold;
  font-size: 20px;
}
body.home  > .wrapper > .container .signup .body {
  font-weight: bold;
  color: #444;
}
body.home  > .wrapper > .container .signup .item {
  padding: 10px 10px 0;
}
